.card {
  max-width: 85%; 
  border-top: 200px; 
  position: flexible;
}  

.card-body {
  background-color: lemonchiffon;
}

.temperature {
  display: inline-block;
  font-size: 48px;
  line-height: 60px;
  padding-left: 0; 
  padding-top: 0;
}

.Units {
  color: #868b90;
  font-size: 17px;
}

.Forecasting {
  color: #868b90;
  display: inline-block;
  font-size: 15px;
  line-height: 16px;
  list-style: none;  
}

.cityName {
  color: black;
  display: block;
  font-family: arial, sans-serif;
  font-size: 25px;
  font-weight: 400;
  height: 26px;
  line-height: 26px;
  text-align: right;
  width: 326px;
  list-style: none;
}

